$dark-blue: #011C40;
$light: #F9FBFD;
$white: #ffffff;
$black: #000000;
$font: "Montserrat", Arial, sans-serif;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
